.NewEditProduct {
  border: 5px solid black;
  width: 500px;
  height: fit-content;
  margin-top: 20px;
}

.NewEditProduct h3 {
  background-color: rgb(9, 205, 195);
  text-align: center;
}

.NewEditProduct div {
  margin: 10px;
}

.NewEditValue span:first-child{
  display: inline-block;
  width: 100px;
}