.Shop {
  margin: 20px;
}

.Shop table {
  border-collapse: collapse;
}

.Shop .Header{
  background-color: rgb(5, 223, 223);
  font-size: 1.5em;
}

.Shop img {
  width: 100px;
  height: 100px;
}

.Shop td,
.Shop th {
  padding: 10px;
  text-align: center;
  width: 100px;
  border: 2px solid black;
}

.Shop input {
  width: 100px;
  height: 30px;
}
